$color1: green;
$color2: red;
body{
    background-color: rgba(138, 255, 127, 0.596);
}
h1{
    color: rgba(0, 0, 255, 0.315);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: $color2 
}